<% if @notifications.length > 0 %>
  <% @notifications.each do |notification| %>
    <%= render "notifications", notification: notification %>
  <% end %>
<% else %>
  <P>通知はありません</P>
<% end %>
<div style="padding:0 auto"><%= paginate @notifications %></div>