<%= link_to destroy_all_notifications_path, method: :delete do %>
        <i class="fas fa-trash" style="color: black;"></i>
        <h7 style="color: black;">全削除</h7>
<% end %>

<% if @notifications.length > 0 %>
  <% @notifications.each do |notification| %>
    <%= render "notifications", notification: notification %>
  <% end %>
<% else %>
  <P>通知はありません</P>
<% end %>
<div style="padding:0 auto"><%= paginate @notifications %></div>