<div id="box">
  <div id="images">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
  </div>
  <div class="title">ALCOfollow</div>
  <div class="sub-title">〜お酒好きの仲間を作ろう〜</div>
  <div class="over-button">
    <div class="btn"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-warning btn-block" %></div>
    <div class="btn"><%= link_to "Sign in", new_user_session_path, class: "btn btn-warning btn-block" %></div>
  </div>
</div>