<div class="container">
<h4>タグリスト</h4>

<% @tag_list.each do |list| %>
  <% if list.posts.count >= 1 %>
  <span>
    <%= link_to list.tag_name, tag_posts_path(tag_id: list.id) %>
    <%= "(#{list.posts.count})" %>
  </span>
  <% end %>
<% end %>

<div class="title">
    <h4>投稿一覧</h4>
</div>


  <div class="row">
<% @home_posts.each do |post| %>
<div class="col-md-3">
 <%= render 'post', post: post %>
</div>
<% end %>
  </div>

  <div class="row">
<% @shop_posts.each do |post| %>
<div class="col-md-3">
 <%= render 'post', post: post %>
</div>
<% end %>
  </div>
</div>