<div class="container" style="padding:25px">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">

      <%= "タグ『" %><strong><%= "#{@tag.tag_name}" %></strong><%= "』の投稿一覧" %>

        <div class="post-cards">
          <% @posts.each do |post| %>

            <%= render 'post', post: post %>

          <% end %>
        </div>
    </div>
      <div class="col-1"></div>
    </div>
</div>