/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.image1 {
  background-image: image-url("sake.jpg");
}
.image2 {
  background-image: image-url("beer.jpg");
}
.image3 {
  background-image: image-url("whisky.jpg");
}
.image4 {
  background-image: image-url("wine.jpg");
}

.post-cards{
  display:flex;
  flex-wrap:wrap;
  align-items:flex-start;
}
.card-columns{
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  width: 33.33333333%;
}

body{
  font-family: 'Shippori Mincho B1', serif;
}

#box {
  height: 700px;
  position: relative;


  .over-button {
    position: absolute;
    top: 70%;
    left: 50%;
  }

  .btn {
    margin-left: 80px;
  }

  .title {
    position: absolute;
    color: white;
    font-size: 100px;
    top: 10%;
    left: 13%;
  }

  .sub-title {
    position: absolute;
    color: white;
    font-size: 40px;
    top: 30%;
    left: 13%;
  }
}

// .footer {
//   background-color: #FF8C00;
//   position: fixed;
//   bottom: 0;
//   width: 100%;
//   height: 59px;
//   text-align: center;
// }

// .wrapper{
//     min-height: 100vh;
//     position: relative;/*←相対位置*/
//     padding-bottom: 120px;/*←footerの高さ*/
//     box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
// }

.wrapper{
    height: 100%;
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
    
    .container{
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    }
}

footer{
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 30px 0;

    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

